body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1e293b;
}

.navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: #334155;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background: #22c55e;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* PROJECTS */
.projects {
    padding: 40px;
    text-align: center;
}

.card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    width: 250px;
    border-radius: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
